body {
  font-family: "Ubuntu", sans-serif;
}

.page-wrap {
  background-image: url("../img/page-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  height: 58px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.header-logo-link {
  font-weight: bold;
  font-size: 22px;
}

.header-logo-link,
.log-in-link,
.sign-up-link {
  color: #fff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-right: 27px;
}
.header-icons::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.header-icon-link {
  margin-right: 24px;
}

.header-icon {
  fill: white;
}

.log-in-section {
  height: calc(100vh - 58px);
  display: flex;
}

.log-in-form-wrapper {
  width: 444px;
  background-color: #fff;
  padding: 30px 60px 38px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.log-in-form-title-wrap .log-in-link {
  font-size: 14px;
  color: #3cb878;
}

.log-in-form-title-wrap {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.log-in-form-title {
  display: flex;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  align-items: flex-end;
}

.log-in-form-title::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  display: inline-block;
  position: absolute;
  left: 0;
}

.log-in-form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
  margin-bottom: 34px;
}

.button-log-in-with {
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 47px 1px auto;
  align-items: center;
  justify-items: center;
}

.button-log-in-with-vertical-line {
  width: 1px;
  height: 28px;
  border: none;
  background: #2b0d09;
  opacity: 0.1;
}

.button-log-in-with-facebook {
  background: #305db8;
}

.button-log-in-with-google {
  background: #df4a32;
}

.log-in-or-line {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}

.log-in-or-line::before,
.log-in-or-line::after {
  content: "";
  height: 1px;
  background: #f2f2f2;
  width: 47%;
}

.sign-up-form {
  display: grid;
  grid-template-rows: repeat(7, 45px);
  grid-row-gap: 15px;
}

.sign-up-form-input {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.sign-up-form-input:focus {
  outline: none;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.sign-up-form-input::-webkit-input-placeholder {
  color: #bebebe;
}

.sign-up-form-check {
  display: flex;
  align-items: center;
}

.checkbox-text {
  color: #434343;
}

.checkbox-text-link {
  color: #3cb878;
}

.sign-up-form-check-input {
  appearance: none;
}

.sign-up-form-custom-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
  box-sizing: border-box;
}

.sign-up-form-check-input:checked + .sign-up-form-custom-checkbox {
  background-image: url("../icons/checkbox-label-normal.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sign-up-form-button {
  background: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  color: #fff;
}

/* /////hover///// */

.log-in-form-link-log-in:hover,
.header-icon:hover,
.log-in-link:hover,
.sign-up-link:hover,
.checkbox-text-link:hover {
  color: #01813f;
  fill: #01813f;
  text-decoration: underline;
  transition: all 0.7s;
}
.header-logo-link:hover {
  color: #01813f;
  transition: all 0.7s;
}
.button-log-in-with-facebook:hover {
  background: #022263;
  transition: all 0.7s;
}
.button-log-in-with-google:hover {
  background: #ab1f09;
  transition: all 0.7s;
}
.sign-up-form-button:hover {
  cursor: pointer;
  background: #01813f;
  transition: all 0.7s;
}
.sign-up-form-input:hover,
.sign-up-form-custom-checkbox:hover {
  cursor: pointer;
}
.sign-up-form-check-input:checked + .sign-up-form-custom-checkbox:hover {
  background-image: url("../icons/checkbox-label-hover.svg");
}
.sign-up-form-input:focus {
  cursor: text;
}
